@use 'base/variables' as v;
@use 'base/mixins' as m;

.cita{
    background-image: url(../img/bg_citas.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    padding: 5rem 0;
    text-align: center;
    &__heading{
        @include m.heading;
        color: v.$blanco;
        margin: 0 0 2rem 0;
        font-size: 3.5rem;
        @include m.tablet {
            font-size: 5rem;
        }
    }

    &__texto{
        color: v.$blanco;
        line-height: 2;
        max-width: 60rem;
        margin: 0 auto;
        font-size: 1.6rem;
    }

    &__enlace{
        @include m.boton(v.$primario, v.$blanco);
        font-size: 1.8rem;
        padding: 2rem 10rem;
    }
}